
<div class="formulario">		
	<div class="alert alert-warning">REGISTRO EXITOSO</div>					
</div>
å
<div class="btn btn-success">
	<a href="/login">IR A LOGIN</a>                                   
</div>
