<div class="formulario">		
	<div class="alert alert-danger" style="color: red ;">ACCESO DENEGADO</div>					
</div>

<div class="btn btn-primary">
	<a href="/">Volver</a>                                   
</div>